@import 'tailwindcss';

@theme {
  /* WHITE */
  --color-white-100: #f7f9ff;
  --color-white-200: #f0f4ff;
  --color-white-300: #eaefff;
  --color-white-400: #e5eaff;
  --color-white-500: #e0e6ff;
  --color-white-600: #ced4eb;
  --color-white-700: #bcc2d8;
  --color-white-800: #abb0c4;
  --color-white-900: #999eb0;

  /* BLACK */
  --color-black-100: #9295a1;
  --color-black-200: #737684;
  --color-black-300: #555866;
  --color-black-400: #373a49;
  --color-black-500: #1a1d2a;
  --color-black-600: #171925;
  --color-black-700: #131520;
  --color-black-800: #10111b;
  --color-black-900: #06060b;

  /* BLUE */
  --color-blue-100: #dbe8ff;
  --color-blue-200: #b9cfff;
  --color-blue-300: #99b5ff;
  --color-blue-400: #7999fe;
  --color-blue-500: #5c7cfa;
  --color-blue-600: #4e66dd;
  --color-blue-700: #4152bf;
  --color-blue-800: #34409f;
  --color-blue-900: #292f80;

  --breakpoint-desktop-3: 160rem;
  --breakpoint-desktop-2: 100rem;
  --breakpoint-desktop-1: 80rem;
  --breakpoint-tablet: 64rem;
  --breakpoint-mobile-1: 48rem;
  --breakpoint-mobile-2: 40rem;
}
